<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361014415890-jkduputfmelhvpsbc6fgplc1m0398h91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361014415890-jkduputfmelhvpsbc6fgplc1m0398h91</string>
	<key>API_KEY</key>
	<string>AIzaSyBOdjuNPxUs6zQgTjR2BwgbBhMLW-Ya5LE</string>
	<key>GCM_SENDER_ID</key>
	<string>361014415890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamildolny.chatatoo</string>
	<key>PROJECT_ID</key>
	<string>chatatoo</string>
	<key>STORAGE_BUCKET</key>
	<string>chatatoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361014415890:ios:e5f6b86aa3b60b10d13ecb</string>
</dict>
</plist>